<a href="https://colab.research.google.com/github/pawniparashar/AI-for-Self-Driving-Car-Midterm-Report/blob/main/Python_Practice_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to print Twinkle Twinkle little star program in Python
print("""Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.""")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [ ]:
# Use REPL and print the table of 5 using it.
print("Table of 5:")
for i in range(1, 11):
    print(f"5 x {i} = {5*i}")

Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
# Add two numbers
num1 = float(input('Enter 1st no.: '))
num2 = float(input('Enter 2nd no.: '))
print("Sum:", num1 + num2)

Enter 1st no.: 2
Enter 2nd no.: 2
Sum: 4.0

In [5]:
# Find remainder when a number is divided by z
a = 45
z = 7
print("Remainder:", a % z)

Remainder: 3

In [6]:
# Check type of variable assigned using input()
val = input("Enter something: ")
print("Type of input is:", type(val))

Enter something: 7.9
Type of input is: <class 'str'>

In [7]:
# Use comparison operator (a=34, b=80)
a = 34
b = 80
print("Is a greater than b?", a > b)

Is a greater than b? False

In [8]:
# Average of two numbers entered by user
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))
print("Average:", (n1 + n2) / 2)

Enter first number: 45
Enter second number: 65
Average: 55.0

In [9]:
# Calculate square of a number entered by user
s = float(input("Enter a number to square: "))
print("Square:", s**2)

Enter a number to square: 6
Square: 36.0

In [16]:
# Display user-entered name followed by "Good Afternoon"
name = input("Enter your name: ")
print("Good Afternoon, ",name)

Enter your name: Alaska
Good Afternoon,  Alaska

In [13]:
# Fill in a letter template with name and date
letter = '''
Dear <|Name|>,
You are selected!
<|Date|>
'''
name = input("Enter Name for letter: ")
date = input("Enter Date: ")

letter = letter.replace("<|Name|>", name)
letter = letter.replace("<|Date|>", date)
print(letter)

Enter Name for letter: Alaska
Enter Date: 24/08/2007

Dear Alaska,
You are selected!
24/08/2007

In [14]:
# Program to detect double spaces in a string
sample_string = "This is a sample string  with double  spaces."
print(sample_string.find("  "))

23

In [17]:
# Write a program to store seven fruits in a list entered by the user.
fruits = []
f1 = input("Enter Fruit Number 1: ")
fruits.append(f1)
f2 = input("Enter Fruit Number 2: ")
fruits.append(f2)
f3 = input("Enter Fruit Number 3: ")
fruits.append(f3)
f4 = input("Enter Fruit Number 4: ")
fruits.append(f4)
f5 = input("Enter Fruit Number 5: ")
fruits.append(f5)
f6 = input("Enter Fruit Number 6: ")
fruits.append(f6)
f7 = input("Enter Fruit Number 7: ")
fruits.append(f7)

print("List of fruits:", fruits)

Enter Fruit Number 1: Apple
Enter Fruit Number 2: Banana
Enter Fruit Number 3: Guave
Enter Fruit Number 4: Orange
Enter Fruit Number 5: Mango
Enter Fruit Number 6: Lichu
Enter Fruit Number 7: Grapes
List of fruits: ['Apple', 'Banana', 'Guave', 'Orange', 'Mango', 'Lichu', 'Grapes']

In [18]:
# Write a program to accept marks of 6 students and display them in a sorted manner.
marks = []
m1 = int(input("Enter Marks for student 1: "))
marks.append(m1)
m2 = int(input("Enter Marks for student 2: "))
marks.append(m2)
m3 = int(input("Enter Marks for student 3: "))
marks.append(m3)
m4 = int(input("Enter Marks for student 4: "))
marks.append(m4)
m5 = int(input("Enter Marks for student 5: "))
marks.append(m5)
m6 = int(input("Enter Marks for student 6: "))
marks.append(m6)

marks.sort()
print("Sorted marks of students:", marks)

Enter Marks for student 1: 34
Enter Marks for student 2: 56
Enter Marks for student 3: 347
Enter Marks for student 4: 34
Enter Marks for student 5: 24
Enter Marks for student 6: 23
Sorted marks of students: [23, 24, 34, 34, 56, 347]

In [19]:
# Write a program to sum a list with 4 numbers.
numbers = [10, 20, 30, 40]
total = sum(numbers)
print("The sum of the list is:", total)

The sum of the list is: 100

In [20]:
# Write a program to count the number of zeros in the following tuple: a = (7, 0, 8, 0, 0, 9)
a = (7, 0, 8, 0, 0, 9)
zero_count = a.count(0)
print("Number of zeros in the tuple:", zero_count)

Number of zeros in the tuple: 3

In [21]:
# Write a program to create a dictionary of Hindi words with values as their English translation. Provide user with an option to look it up!
dictionary = {
    "billi": "Cat",
    "khana": "Food",
    "pani": "Water"
}
word = input("Enter the Hindi word you want the meaning of: ")
print(dictionary[word])

Enter the Hindi word you want the meaning of: khana
Food

In [24]:
# Write a program to input eight numbers from the user and display all the unique numbers (once).
s = set()
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))

print(s)

Enter number: 3
Enter number: 43
Enter number: 24
Enter number: 34
Enter number: 34
Enter number: 22
Enter number: 55
Enter number: 45
{34, 3, 43, 45, 22, 55, 24}

In [25]:
def greatest(a, b, c):
    if(a>b and a>c):
        return a
    elif(b>a and b>c):
        return b
    elif(c>b and c>a):
        return c

a = 1
b = 23
c = 3

print(greatest(a, b, c))

23

In [26]:
'''
sum(1) = 1
sum(2) = 1 + 2
sum(3) = 1 + 2 + 3
sum(4) = 1 + 2 + 3 + 4
sum(5) = 1 + 2 + 3 + 4 + 5

sum(n) = 1 + 2 + 3 + 4.... n -1 + n
sum(n) = sum(n-1) + n
'''

def sum(n):
    if(n==1):
        return 1
    return sum(n-1) + n

print(sum(4))

10

In [27]:
def inch_to_cms(inch):
    return inch * 2.54

n = int(input("Enter value in inches: "))

print(f"The corresponding value in cms is {inch_to_cms(n)}")

Enter value in inches: 6
The corresponding value in cms is 15.24